<div  id="login-modal" aria-labelledby="myModalLabel" aria-hidden="true" >
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
					<h1>New user</h1><br>
				  <form ng-submit="addUser()">
					<input ng-model="userName" type="text" name="user" placeholder="Enter a username">
					<input ng-model="password" type="password" name="pass" placeholder="Enter a password">
					<!-- <input type="submit" name="login" class="login loginmodal-submit" value="Create"> --->
					<input type="submit" name="login" class="btn btn-primary btn-lg" value="Create">
				  
				  
				  </form>
			</div>
			</div>
</div>